
body {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

a:hover,
a {
	/* color: #fff; */
}

.back-to-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
}

.width-fluid {
	width: 100%;
}

@media (min-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

.header-bar .row {
	display: flex;
	align-items: center;
}
.header-stick {
	padding: 11px 0;
	border-color: transparent;
	background-color: transparent;
	background: #FFF4DE;
}
.header-stick.active {
	background-color: #313641;
	border-color: #fff;
	padding: 11px 0;
}

.megamenu-content .item a,
.megamenu-desktop .megamenu-content ul {
	display: flex;
	align-items: center;
}
.megamenu-content .item {
	margin-bottom: 0;
	padding: 0 11px;
}
.megamenu .item a {
    font-weight: 400;
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
    color: #161511;
}
.megamenu .item a img {
	margin-right: 8px;
	opacity: 0.4;
	transition: all 400ms;
}
.megamenu .item a:hover,
.megamenu .item.active a {
	color: #C58400;
}
.megamenu .item a:hover,
.megamenu .item.active a img {
	opacity: 1;
}
.megamenu-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.megamenu-content .btn {
    font-weight: 600;
    color: #fff;
    padding: 3px 15px;
    margin-left: 16px;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(213, 144, 0, 0.9) 2.6%, #C58400 39.58%, rgba(201, 135, 0, 0.97672) 65.62%, rgba(213, 144, 0, 0.9) 99.99%, rgba(255, 223, 155, 0) 100%);
    border-radius: 25px;
    text-transform: uppercase;
}

.title-box {
	text-align: center;
	margin-bottom: 24px;
}
.title-box .title {
	font-weight: 500;
	font-size: 34px;
	line-height: 42px;
	color: #343027;
	margin-bottom: 0;
}
.title-box .infor {
	font-family: 'Archivo';
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.02em;
}
.title-box .infor span {
	color: #E45F35;
}

.btn {
	background: #E45F35;
	border-color: #E45F35;
	color: #fff;
}

section {
	margin: 88px 0;
}

.lth-banners .banner-content {
	font-size: 18px;
	line-height: 26px;
}

.banner-laeeb-doge {
	margin: 0 0 56px;
	margin-top: 0 !important;
}
.banner-laeeb-doge .banner-content {
	text-align: center;
	margin-top: 56px;
}
.banner-laeeb-doge .banner-image img {
	min-height: 550px;
	object-fit: cover;
}
.banner-laeeb-doge .banner-image {
	position: relative;
}
.banner-laeeb-doge .banner-image .btns {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
}
.banner-laeeb-doge .banner-image .btn {
	background: linear-gradient(180deg, #D79917 0%, #C58400 55.73%, #D79917 86.98%);
	border-radius: 10px;
	padding: 13px 65px;
	margin-top: 24px;
}
.banner-laeeb-doge .banner-image .btn:hover {
	color: #fff;
}
.banner-laeeb-doge .banner-image .btn:first-child {
	margin-right: 15px;
}

.banner-what-is {
	margin-top: 56px;
}
.banner-what-is .banner-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.banner-what-is .banner-image {
	width: 100%;
}
.banner-what-is .banner-image img {
	min-height: 406px;
}
.banner-what-is .banner-content {
	position: absolute;
	text-align: center;
	color: #fff;
}
.banner-what-is .banner-content .title {
	color: #fff;
	font-weight: 500;
	font-size: 34px;
	line-height: 42px;
	margin-bottom: 24px;
}
.banner-what-is .banner-content img {
	margin-bottom: 16px;
}
.banner-what-is .banner-content .btn {
	background: linear-gradient(180deg, #D79917 0%, #C58400 55.73%, #D79917 86.98%);
	border-radius: 10px;
	padding: 13px 65px;
	margin-top: 24px;
}
.banner-what-is .banner-content .btn:hover {
	color: #fff;
}

.banner-why-laeeb-doge {
	position: relative;
}
.banner-why-laeeb-doge:before {
	content: '';
	width: 240px;
	height: 771px;
	display: block;
	background-image: url(../images/bg-01.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	bottom: -180px;
}
.banner-why-laeeb-doge .banner-image {
	text-align: center;
}
.banner-why-laeeb-doge .banner-image img {
	margin: 0 auto 40px;
}
.banner-why-laeeb-doge .banner-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -20px;
}
.banner-why-laeeb-doge .banner-content .item {
	width: calc(100% / 3);
	padding: 20px;
	text-align: center;
}
.banner-why-laeeb-doge .banner-content .image {
	border-radius: 20px;
	overflow: hidden;
}
.banner-why-laeeb-doge .banner-content .title {
	font-weight: 500;
	font-size: 33px;
	line-height: 42px;
	color: #161511;
	margin-top: 10px;
	margin-bottom: 8px;
}

.banner-laeeb-map {
	position: relative;
}
.banner-laeeb-map:before {
    content: '';
    width: 263px;
    height: 612px;
    display: block;
    background-image: url(../images/bg-02.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: -240px;
}
.banner-laeeb-map .banner-image {
	text-align: center;
}
.banner-laeeb-map .groups-box {
	justify-content: space-between;
}
.banner-laeeb-map .groups-box > * {
    width: 50%;
    margin-top: 40px;
    max-width: 440px;
}
.banner-laeeb-map .groups-box > *:nth-child(2n) {
	max-width: 390px;
}
.banner-laeeb-map .banner-content img {
	margin-bottom: 16px;
}
.banner-laeeb-map .banner-content ul {
	padding-left: 20px;
}
.banner-laeeb-map .banner-content ul li:not(:last-child) {
	margin-bottom: 8px;
}
.banner-laeeb-map .banner-content ul li {
	list-style: disc;
}

.banner-listed-exchanges .groups-box {
	margin: -8px -15px;
}
.banner-listed-exchanges .groups-box > * {
	width: 25%;
	padding: 8px 15px;
}

.banner-featured-on .groups-box {
	margin: -8px -15px;
}
.banner-featured-on .groups-box > * {
	width: calc(100% / 3);
	padding: 8px 15px;
}
.banner-featured-on .last {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.banner-featured-on .last > * {
	padding: 0 10px;
	width: 50%;
}
.banner-featured-on .banner-image {
	text-align: center;
}

.banner-tokenomics .title-box {
	text-align: left;
}
.banner-tokenomics .title:after {
	content: '';
	display: block;
	width: 143px;
	height: 2px;
	background: #C58400;
}
.banner-tokenomics .banner-box.box-title {
	margin-bottom: 40px;
	text-align: center;
}
.banner-tokenomics .banner-content ul li:not(:last-child) {
	margin-bottom: 6px;
}
.banner-tokenomics .banner-content ul li {
	display: flex;
	flex-wrap: wrap;
}
.banner-tokenomics .banner-content ul li strong {
	width: 143px;
	display: inline-block;
}
.banner-tokenomics .banner-content ul li span {
	width: calc(100% - 143px);
	display: inline-block;
	overflow-wrap: break-word;
}
 
.banner-laeeb-video .banner-content {
	max-width: 796px;
	margin: 0 auto;
}
.banner-laeeb-video .banner-content iframe {
	min-height: 425px;
	height: auto;
}
.banner-laeeb-video .banner-image {
	margin-bottom: 40px;
	text-align: center;
}

.socials-box ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: -15px;
}
.socials-box ul li {
	margin-bottom: 0;
	padding: 15px;
}

/* ////////////////////////// */

.footer-main {
	padding-bottom: 40px;
}
.footer-bottom {
	background: #FFF4DE;
	border-top: 1px solid #C58400;
	padding: 8px 0;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 26px;
	color: #49453D;
}

.scroll-active {
	width: 15px;
	position: fixed;
	top: 50%;
	right: 30px;
	transform: translate(0, -50%);
	z-index: 9999;
}
.scroll-active a {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 4px solid #C58400;
	background-color: #C58400;
	font-size: 0;
	display: block;
}
.scroll-active a.active {
	background-color: #fff;
}